.page {
    background-image: url('/Images/backgroundImage.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    padding-top: 80px;
}

article {
    padding: 20px;
}
