.page {
    background-color: #dddddd;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    margin-top: 58px;
}

article {
    padding: 0px;
}
