.page {
/*    background-image: url('/images/backgrounds/backgroundImage.jpg');*/
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    padding-top: 30px;
}

article {
    padding: 0px;
}
