@using HealthIsWealth.Components.Account.Pages.UserLoginPage
@inherits LayoutComponentBase

<div class="page">
    <NavMenu @rendermode="InteractiveServer" />
    <main>
        <article>
            @Body
        </article>
    </main>
</div>