@inject NavigationManager NavigationManager
<div>
    <a href="">
        Home
    </a>
</div>

<AuthorizeView>
    <Authorized>
        <nav>
            <div>
                <a href="Venues">
                    Venues
                </a>
            </div>
            <div>
                <a href="Bookings">
                    Bookings
                </a>
            </div>
            <div>
                <a href="Account/Profile">
                    Profile
                </a>
            </div>
            <div>
                <a href="Account/Logout">
                    Logout
                </a>
            </div>
        </nav>
    </Authorized>

    <NotAuthorized>
        <nav>
            <div>
                <a href="Account/Register">
                    Register Account
                </a>
            </div>
            <div>
                <a href="Account/Login">
                    Login
                </a>
            </div>
        </nav>
    </NotAuthorized>
</AuthorizeView>

