<div>
    <a href="">
        Home
    </a>
</div>

<nav>
    <div>
        <a href="Venues">
            Venues
        </a>
    </div>
    <div>
        <a href="Bookings">
            Bookings
        </a>
    </div>
    <div>
        <a href="Account/Profile">
            Profile
        </a>
    </div>
</nav>

<AuthorizeView>
    <Authorized>
        <div class="px-3">
            Hello, @context.User.Identities.First().Name!
        </div>
    </Authorized>

    <NotAuthorized>
        <nav>
            <div>
                <a href="Account/Register">
                    Register Account
                </a>
            </div>
            <div>
                <a href="Account/Login">
                    Login
                </a>
            </div>
        </nav>
    </NotAuthorized>
</AuthorizeView>