@page "/Account/Logout"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject NavigationManager NavigationManager

<PageTitle>Logout</PageTitle>

<div class="logout-backdrop">
    <div class="logout-window">
        
        <h2>Logout</h2>
        <p>Are you sure you want to log out?</p>

        <div class="logout-actions">
            <form action="/Account/Logout" method="post" class="form-inline">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                
                <button type="submit" class="btn-logout">
                    Logout
                </button>
            </form>

            <button class="btn-cancel" @onclick="CancelOperation">
                Cancel
            </button>
        </div>

    </div>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.BaseUri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private void CancelOperation()
    {
        NavigationManager.NavigateTo("/bookings");
    }

}