@page "/facilitysports/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using HealthIsWealth.Domain
@using HealthIsWealth.Data
@implements IAsyncDisposable
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

@code {
    [Parameter]
    public int Id { get; set; }

    private HealthIsWealthContext dbContext = default!;

    private List<FacilitySport>? viewFacilitySport;

    protected override async Task OnInitializedAsync()
    {
        dbContext = DbFactory.CreateDbContext();

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            var userId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;

            if (userId != null)
            {
                viewFacilitySport = await dbContext.FacilitySport
                    .Include(fs => fs.Sport)
                    .Where(fs => fs.FacilitySportId == Id)
                    .ToListAsync();
            }
        }
    }
    public async ValueTask DisposeAsync() => await dbContext.DisposeAsync();
}

<PageTitle>HealthIsWealth | Facility Sport</PageTitle>

<h1>Details</h1>

<div>
    @if (viewFacilitySport != null && viewFacilitySport.Any())
    {
        var item = viewFacilitySport.First();

        <p><strong>Description:</strong> @item.Sport?.Description</p>

        <p><strong>Sport Name:</strong> @item.Sport?.Name</p>
    }
    else
    {
        <p><em>Loading details...</em></p>
    }
</div>