@page "/venues"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using HealthIsWealth.Domain
@using HealthIsWealth.Data
@implements IAsyncDisposable
@inject NavigationManager NavigationManager
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory

<PageTitle>Browse Venues</PageTitle>

<QuickGrid Class="table" Items="context.Venue">
    <TemplateColumn Context="venue">
        <ChildContent>
            <p class="">@venue.Name</p>
        </ChildContent>
    </TemplateColumn>
    <PropertyColumn Property="venue => venue.Name" Title=""/>
    <PropertyColumn Property="venue => venue.Address" />
    <PropertyColumn Property="venue => venue.PostalCode" />
    <PropertyColumn Property="venue => venue.UnitNumber" />
    <PropertyColumn Property="venue => venue.ThumbnailImageUrl" />

    <TemplateColumn Context="venue">
        <a href="@($"venues/details?venueid={venue.VenueId}")">Details</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private HealthIsWealthContext context = default!;

    [SupplyParameterFromQuery (Name="sportid")]
    private int? SportId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        if (SportId is not null && context.Sport.Find(SportId) is null)
        {
            // Navigates to venues page without sportid and replaces current entry in history stack
            NavigationManager.NavigateTo("/venues", false, true);
        }
        
        await base.OnInitializedAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}