@page "/"
<PageTitle>HealthIsWealth | Home</PageTitle>

<body>
    <div id="welcome" class="overlay">
        <h1>Welcome to HealthIsWealth</h1>
        <h1>your gateway to wellness and fitness venues</h1>
        <p>
            Discover and book premium sports facilities near you. 
            Whether you're looking to play basketball, tennis, swim or work out,
            we've got you covered. Find the perfect facility, check availability
            and book your session in just a few clicks.
        </p>
     </div>
</body>
