@page "/"
@using HealthIsWealth.Data
@using HealthIsWealth.Domain
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<HealthIsWealthContext> DbFactory;
<PageTitle>HealthIsWealth | Home</PageTitle>

<body>
    <div id="welcome">
        <h1>Welcome to HealthIsWealth</h1>
        <h1>your gateway to wellness and fitness venues</h1>
        <p>
            Discover and book premium sports facilities near you. 
            Whether you're looking to play basketball, tennis, swim or work out,
            we've got you covered. Find the perfect facility, check availability
            and book your session in just a few clicks.
        </p>
     </div>
    <div class="container-grid">
    @foreach (Sport sport in Sports)
    {
            <a href="/venues?sportid=@sport.SportId" style="background-image: radial-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.6)),
                        url(@sport.ThumbnailImageUrl), url(/images/placeholder/sports.jpg)"
                     class="image-single container-large text-white text-decoration-none">
                <p class="no-margin">@sport.Name</p>
            </a>
    }
    </div>
</body>

@code{
    HealthIsWealthContext context = default!;
    IList<Sport> Sports; 

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        Sports = context.Sport.ToList();
    }
}
