@page "/"
<PageTitle>HealthIsWealth | Home</PageTitle>

<body>
    <div class="title">
        <h1>Welcome to HealthIsWealth</h1>
        <p>Your gateway to wellness and fitness venues.</p>
    </div>
</body>
